

.rowPost{
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-y: hidden;
}

#rowimg{
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#rowimg:hover{
    background-color: red;
    transform: scale(1.2);
    border: 1px;
    border-style: solid;
    border-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.isLarge{
height: 200px;
width: 200px;

}

.isSmall{
    height: 200px;
    width: 180px;

}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-overlay img {
    width: 50%; 
  }

  
  .btn-addto {
    background-color: rgba(52, 52, 52, 0.8);
    color: white; 
    margin-top: -40px;
}
  .rowDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  