.error-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Light background color */
  }
  
  /* Add additional custom styles as needed */
  