
@font-face {
  font-display: optional;
  font-family: Netflix Sans;
  font-weight: bolder;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff")
}

body {
  margin: 0;
  font-family:Netflix Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: fafafa;
  font-weight: bold;
  color: rgb(0, 0, 0);
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #f8e7e4, #968c92); /* Purple gradient background */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.no-result-message {
  width: 500px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000; /* Red color */
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #634e4e; /* Red border */
  border-radius: 5px;
  background-color: #ffe6e6; /* Light red background */
}

.check-out-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Darker text color */
  margin-bottom: 25px;
}
